In [235]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [236]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns',inplace = True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [237]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [238]:
dummies = pd.get_dummies(inputs.Sex,dtype=int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [239]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [240]:
df.drop('Sex',axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [241]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [242]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [243]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass     Sex        Age     Fare  female  male
0       3    male  22.000000   7.2500       0     1
1       1  female  38.000000  71.2833       1     0
2       3  female  26.000000   7.9250       1     0
3       1  female  35.000000  53.1000       1     0
4       3    male  35.000000   8.0500       0     1
5       3    male  29.699118   8.4583       0     1

In [244]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test  = train_test_split(inputs,target,test_size=0.2)

In [245]:
len(x_train)

712

In [246]:
len(x_test)

179

In [247]:
len(inputs)

891

In [248]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [249]:
model.fit(x_train,y_train)

ValueError: could not convert string to float: 'male'

In [252]:
model.score(x_test,y_test)

ValueError: could not convert string to float: 'female'